/* CONFIGURACION GENERAL DE LA ESTRUCTURA */
body {
  background-color: #8B9F2E;
  background-image: url(../imagenes/fondo_body.png);
  background-repeat: repeat;
}

.centrado {
  position: relative;
  width: 1024px;
  height: 768px;
  margin-top: 50px;
  background-image: url(../imagenes/fondo_contenido.png);
}

#logo {
  width: 325px;
  height: 91px;
  padding-top: 54px;
  padding-left: 81px;
}

#contenido {
  width: 906px;
  height: 486px;
  margin-left: 59px;
  background-image: url(../imagenes/bloque.png);
}

/* ESPACIO DEL MENU */

#menu {
  font-family: 'Reenie Beanie', serif;
  font-size: 32px;
  line-height: 0.8;
  float: left;
  width: 205px;
  height: 460px;
  margin-top: 13px;
  margin-left: 13px;
  letter-spacing: -0.021em;
  color: #BFB084;
  background-image: url(../imagenes/fondo_menu.png);
  background-repeat: no-repeat;
}

#menu ul {
  margin-top: 150%;
  margin-left: -20px;
}

#menu li {
  list-style-type: none;
  text-indent: 10px;
}

#menu li a {
  display: inline-block;
  list-style-type: none;
  cursor: pointer;
  text-decoration: none;
  text-indent: 10px;
  color: #BFB084;
}

#menu li a:hover {
  display: inline-block;
  padding-right: 10px;
  color: #2E271E;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #BFB084;
}

#menu li a:active {
  display: inline-block;
}

/* ESPACIO DEL CONTENIDO */

#contenedor {
  float: right;
  overflow: auto;
  width: 422px;
  height: 460px;
  margin-top: 13px;
  margin-right: 13px;
}

#cuerpo {
  margin: 10px;
  text-align: left;
}

#cuerpo p {
  font-family: 'Puritan', serif;
  /* font-size: 14px; */
  font-size: 0.9em;
  margin-top: -4px;
  margin-left: 20px;
  color: #736744;
}

.uniforme {
  display: inline-block;
  float: left;
  width: 100px;
  height: 100px;
  margin: 2px;
  text-align: center;
  vertical-align: bottom;
  background-color: #FFF;
}

#cuerpo br {
  text-indent: 20px;
}

#cuerpo ul {
  font-family: 'Puritan', serif;
  font-size: 0.9em;
  color: #736744;
}

#cuerpo h3 {
  font-family: 'Reenie Beanie', serif;
  font-size: 3em;
  line-height: 0.6;
  margin: 5px;
  letter-spacing: -0.05em;
  word-spacing: -0.05em;
  text-transform: capitalize;
  color: #BFB084;
}

#cuerpo h4 {
  font-family: 'Reenie Beanie', serif;
  font-size: 2.5em;
  line-height: 0.6;
  margin: 20px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #BFB084;
}

#cuerpo img {
  margin-right: 4px;
  margin-left: 4px;
}

.noindent {
  text-indent: 0;
}


/* ESPACIO DE MUESTRA DE IMAGENES */

#animacion {
  /*background:url(images/slider.png) no-repeat;*/
  width: 253px;
  height: 460px;
  margin-left: 218px;
  padding-top: 13px;
}

#slider {
  position: relative;
  width: 253px;
  height: 460px;
  /*background:url(images/loading.gif) no-repeat 50% 50%;*/
}

#slider img {
  position: relative;
  top: 0;
  left: 0;
  display: none;
}

#slider a {
  display: block;
  border: 0;
}

/* fOOTER */

#footer {
  font-family: 'Puritan', serif;
  /* font-size: 14px; */
  font-size: 0.9em;
  margin-top: -10px;
  margin-right: 80px;
  text-align: right;
  color: #FFF1CA;
}

#footer a {
  text-decoration: none;
  color: #2E271E;
}
